*{
	margin: 0;
	padding: 0;
}
	img{
		border:none;
	}
	body{
		background: #e8e8e8 url(images/body-bg.jpg);
		font-family:"pt Sans"; font-size: 13px; line-height: 1.3;
	}
	h1,h2,h3,h4,h5,h6{
		font-weight: normal; color:#3a3e3f;
	}
	.header-main{
		background: url(images/header-bg.jpg) center top no-repeat;
		background-size: 100% 91px;
		border-bottom: 5px solid #b2b2b2; height: 91px;
	}